<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="mickey-spring-boot-starter" />
	<springProperty scope="context" name="LOG_HOME" source="log.home" defaultValue="/data/ecej/logs/${APP_NAME}"/>
	<springProperty scope="context" name="LOG_ROOT_LEVEL" source="log.level" defaultValue="INFO"/>

	<property name="LOG_PREFIX" value="${APP_NAME}" />
	<property name="LOG_CHARSET" value="UTF-8" />
	<property name="LOG_DIR" value="${LOG_HOME}/%d{yyyyMMdd}" />

	<!-- 彩色日志依赖的渲染类 -->
	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	<conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
	<conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

	<property name="CONSOLE_LOG_PATTERN" value="- | %clr([${APP_NAME:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]){red} | %clr(${PID:- }){magenta} | [%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint}] | %clr([%p])|[${HOSTNAME}] | [%thread]|%clr([%logger{40}]){cyan} | [--> %msg] |%n "/>
	<property name="MAX_FILE_SIZE" value="50MB" />
	<property name="MAX_HISTORY" value="60"/>

	<!--输出到控制台-->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</layout>
	</appender>

	<!--输出到文件-->
	<appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/all_${LOG_PREFIX}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_DIR}/all_${LOG_PREFIX}%i.log</FileNamePattern>
			<MaxHistory>${MAX_HISTORY}</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</layout>
	</appender>

	<appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<OnMismatch>DENY</OnMismatch>
			<OnMatch>ACCEPT</OnMatch>
		</filter>
		<File>${LOG_HOME}/err_${LOG_PREFIX}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_DIR}/err_${LOG_PREFIX}%i.log</FileNamePattern>
			<MaxHistory>${MAX_HISTORY}</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
		</layout>
	</appender>

	<logger name="org.springframework" level="ERROR" />
	<logger name="org.apache.commons" level="ERROR" />
	<logger name="org.apache.http" level="ERROR" />
	<logger name="com.etsafe" level="DEBUG"/>
	<logger name="com.edu" level="DEBUG"/>
	<logger name="com.mickey" level="DEBUG"/>

	<root level="${LOG_ROOT_LEVEL}">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE_ALL" />
		<appender-ref ref="FILE_ERROR" />
	</root>

</configuration>